<div class=" d-flex justify-content-between text-white bg-dark border-bottom">
    <ul class="d-flex list-unstyled mt-4 mx-3 ">
      <li class="d-flex fs-2" style="font-family: Megrim;">Bala Baskar</li>
    </ul>
    
    <ul class="d-flex list-unstyled mt-4">
      <a href="https://www.linkedin.com/in/bala-baskar-05313624a/"><i class="bi bi-linkedin fs-3 text-white me-2"></i></a>
      <a href="https://www.instagram.com/_bala_baskar/"><i class="bi bi-instagram fs-3 text-white mx-2"></i></a>
      <a href="https://www.facebook.com/balab.bala.140"><i class="bi bi-facebook fs-3 text-white mx-2"></i></a>
      <a href="https://twitter.com/Bala98633595"><i class="bi bi-twitter fs-3 text-white mx-2"></i></a>
      <a href="mailto:balabaskar2020@gmail.com"><i class="bi bi-envelope fs-3 text-white mx-2"></i></a>
    </ul> 
  </div>
  <div class="text-white bg-dark">
    <ul class="list-unstyled ms-3 fs-5">
      <li class="py-1" routerLink="" fragment="about">About</li>
      <li class="py-1" routerLink="" fragment="service">Service</li>
      <li class="py-1" routerLink="" fragment="work">Work</li>
      <li class="py-1" routerLink="" fragment="contact">Contact</li>
    </ul>
  </div>
  