<div class="row  m-0 justify-content-around">
    <div class="col-lg-7 col-sm-12 d-flex text-white stretch " > 
      <div class="container my-lg-auto my-5">
        <h1 class="my-3 ">UI/UX designer & Web developer</h1>
        <h5 class="my-3">As a Web developer, I've delved into diverse projects, refining my skills in
           crafting seamless and visually appealing user interfaces.</h5>
        <ul class="d-flex list-unstyled mt-4 an">
          <a href="https://www.linkedin.com/in/bala-baskar-05313624a/"><i class="bi bi-linkedin fs-3 text-white me-2"></i></a>
          <a href="https://www.instagram.com/_bala_baskar/"><i class="bi bi-instagram fs-3 text-white mx-2"></i></a>
          <a href="https://www.facebook.com/balab.bala.140"><i class="bi bi-facebook fs-3 text-white mx-2"></i></a>
          <a href="https://twitter.com/Bala98633595"><i class="bi bi-twitter fs-3 text-white mx-2"></i></a>
          <a href="mailto:balabaskar2020@gmail.com"><i class="bi bi-envelope fs-3 text-white mx-2"></i></a>
        </ul>   
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="image container">
        <img src="./assets/photo.jpeg" data-aos-offset="350" data-aos="zoom-in" class="w-100 rounded-5" alt="">
        
      </div>
    </div>
  </div>
  
  <div   class="row d-flex justify-content-end py-5 m-0"  >
    <div class="col-lg-9 col-sm-12 h-50 d-flex text-white align-items-center mt-5" data-aos="fade-up" data-aos-duration="2000"   data-aos-easing="ease-out"   >
      <p class="fs-2">
        Specialize in creating responsive and feature-rich user interfaces using Angular. From implementing complex features to optimizing performance,
         I am committed to delivering robust solutions aligned with industry standards.
      </p>
  
    </div>
    <div class="col-lg-9 col-sm-12 h-50 pb-2 pt-2 " data-aos="fade-up" data-aos-duration="1500" data-aos-easing="ease-out " >
      <div class="row text-white">
        <div class="col-lg-6 col-sm-12 fs-4">
          <p> I thrive on translating design concepts into interactive, efficient, and responsive web
             experiences.</p>
        </div>
        <div class="col-lg-6 col-sm-12 fs-4" data-aos="fade-up" data-aos-duration="1500"  data-aos-easing="ease-out"  >
          <p>Always staying abreast of the latest technologies, 
            I'm passionate about clean code, collaboration, and creating impactful digital solutions.</p>
        </div>
      </div>
  
    </div>
  </div>
