<div class="row bg-white m-0" style="min-height: 70vh;max-height: auto;">

  <h1 class="text-center  mt-5 mb-3" data-aos="fade-up">Let’s work together</h1>
  <h3 class="text-center  my-3" data-aos="fade-up">Let's collaborate to transform our ideas into visually stunning creations, crafting captivating visuals that bring our imagination to life. 
      Ready to embark on this creative journey together?</h3>
  
  <a id="zio" href="mailto:balabaskar2020@gmail.com" data-aos="zoom-out"  class="rounded-circle bg-dark mx-auto my-3 bounce text-decoration-none"  style="width: 10rem;height: 10rem;">
    <h3 class="text-white text-center mt-5" data-aos="zoom-in">
    Let's Connect
    </h3>
  </a>    
    
  </div>
  
