
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid px-lg-5 py-lg-3 ">
      <a class="navbar-brand text-white typed" style="font-family:Megrim;font-size: 2.5rem; " href="#">BALA BASKAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon bg-white"></span> -->
        <i class="bi bi-list navbar-toggler text-white fs-1 fw-bolder"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item m-1">
            <a class="nav-link text-center"   aria-current="page" routerLink="" fragment="about">About</a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link text-center"   routerLink="" fragment="service">Services</a>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link text-center"   routerLink="" fragment="work">Work</a>
          </li>
          <li class="nav-item m-1" >
            <a class="nav-link text-center"   routerLink="" fragment="contact">Contact</a>
          </li>
        </ul>
    </div>

    </div>
  </nav>
<div class="bg-dark">
<app-about id="about"></app-about>
<app-services id="service"></app-services>
<app-work id="work"></app-work>
<app-contact id="contact"></app-contact>
<app-footer class="foot"></app-footer>
</div>



